body {
  background-color: #b3d1ff;
}

.radio {
    border: 2px solid #3f73aa;
    margin: 8px;
    padding: 8px;
    background-color: #15a3a5;
}

.logoImage {
  width: 100px;
  position: fixed;
  right: 3000px;
}

.panel-body {
  background-color: white;
  border: 2px solid #3f73aa;
  padding:10px;
  margin-top: 15px;
}

#cssLogo {
  display:none;
}

#csharpLogo {
  display:none;
}

#javaLogo {
  display:none;
}

#phpLogo {
  display:none;
}

#rubyLogo {
  display:none;
}
